form {
    margin: 10px 10px 26px 10px;
}

input {
    margin: 3px;
}

input.random {
    width: 200px;
}

.field {
    position: relative;
    width: 90vw;
    height: 80vh;
    border: 2px solid lightgrey;
    margin: 10px auto 10px auto;
}

.main-btn {
    position: absolute;
    right: 50px;
    top: 20px;
    padding: 10px;
}

.num {
    font-size: 20px;
    position: absolute;
    margin-left: 5px;
}

.num100y {
    top: 80px;
    left: 25px;
}

.num0 {
    top: calc(95px + 80vh);
    left: 45px;
}

.num100x {
    top: calc(100px + 80vh);
    left: calc(92vw + 20px);
}

.point {
    position: absolute;
    width: 4px;
    height: 4px;
    background: black;
    border-radius: 2px;
    transform: translate(-50%, 50%);
}

svg {
    position: absolute;
}